cvbot-core @ https://github.com/Fabian-Winter/cvbot-core/archive/refs/tags/v0.1.7.tar.gz
langchain-core
langchain-aws
langchain-chroma
chromadb==1.5.9
boto3
tiktoken
fastapi
uvicorn
jinja2
httpx
pytest
pytest-cov
